/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

svg {
    fill: var(--accent-color);
    height: .9rem;
    vertical-align: middle;
    display: inline;
}

svg:hover {
    fill: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* ------------------------ */

:root {
    --accent-color: rgb(246, 231, 22);
    --accent-color-transparent: rgba(246, 231, 22, 0.579);
    --white-color: white;
    --black-color: rgb(25, 29, 35);
    --gray-color: rgb(132, 154, 177);
}

body {
    font-family: "Space Mono", monospace;
    background-color: var(--black-color);
    color: var(--white-color);
    margin: 1.5rem 0;
}

.site-wrapper {
    width: 70%;
    max-width: 800px;
    margin: auto;
}

.me {
    position: relative;
    margin-bottom: 1rem;
}

.my-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    opacity: .9;
    border: 2px solid var(--accent-color);
    padding: .3rem;
}

.about-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: space-around;
    gap: 2rem;
}


.location {
    display: flex;
    align-items: center;
    gap: .2rem;
    font-size: 1rem;
    margin-top: .5rem;
}

.location svg {
    fill: var(--accent-color);
}

.connect {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;
}

.connect ul {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.connect svg {
    height: 2rem;
}

.skills ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.skills li {
    display: inline-block;
    padding: .1rem .5rem;
    border-radius: .5rem;
    /* border: .9px solid var(--accent-color); */
    background-color: var(--accent-color);
    color: var(--black-color);
}

/* Projects start */

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.project-card {
    max-width: 400px;
    margin: auto;
    position: relative;
}

.project-name {
    display: block;
    font-weight: 700;
    padding: .5rem 0;
}

.project-links {
    position: absolute;
    top: 12px;
    right: 0;
}

.project-links a {
    color: var(--accent-color);
    opacity: .9;
}

.project-links a:hover {
    color: var(--white-color);
}

.project-stack {
    padding: 0;
    min-height: 4rem;
    text-align: center;
}

.project-stack li {
    display: inline-block;
    font-size: .8rem;
    color: var(--gray-color);
    border: 1px solid var(--accent-color-transparent);
    border-radius: .5rem;
    padding: .05rem .4rem;
    margin-top: .5rem;
}

.project-card img {
    object-fit: contain;
    border-radius: .5rem;
    width: 100%;
    height: 210px;
    background-color: var(--white-color);
    opacity: .8;
}

/* Projects end */

footer {
    margin-top: 2rem;
    text-align: center;
    font-size: .8rem;
    color: var(--gray-color);
}

footer .heart {
    color: var(--accent-color);
}


/* Extra */

.underlined {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: .10rem;
    text-underline-offset: .3rem;
}

/* ---------- */

@media screen and (width < 899px) {
    .about-wrapper {
        flex-direction: column;
        margin-top: 1rem;
        gap: 1rem;
    }
}

@media screen and (width < 746px) {
    .about {
        text-align: center;
    }

    .connect {
        position: relative;
        margin-bottom: 2rem;
    }

    .location {
        justify-content: center;
    }
}

@media screen and (width < 430px) {
    .site-wrapper {
        width: 85%;
    }
}