/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

svg {
    fill: var(--accent-color);
    height: .9rem;
    vertical-align: middle;
    display: inline;
}

svg:hover {
    fill: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}


.underlined {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: .10rem;
    text-underline-offset: .3rem;
}

/* ------------------------ */

:root {
    --accent-color: rgb(246, 231, 22);
    --accent-color-transparent: rgba(246, 231, 22, 0.579);
    --white-color: white;
    --black-color: rgb(25, 29, 35);
    --gray-color: rgb(134, 163, 194);
}

body {
    font-family: "Space Mono", monospace;
    background-color: var(--black-color);
    color: var(--white-color);
}

.site-wrapper {
    width: 79%;
    max-width: 800px;
    margin: 1.5rem auto;
}

.me {
    position: relative;
    margin-bottom: 1rem;
}

.my-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    opacity: .9;
    border: 2px solid var(--accent-color);
    padding: .3rem;
}

.about-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: space-around;
    gap: 2rem;
}

.about span {
    color: var(--accent-color);
}


.location {
    display: flex;
    align-items: center;
    gap: .2rem;
    font-size: 1rem;
    margin-top: .5rem;
}

.location svg {
    fill: var(--accent-color);
}

.connect {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;
}

.connect ul {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.connect svg {
    height: 2rem;
}

.connect li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connect li small {
    font-size: .6rem;
    color: var(--gray-color);
    margin-top: .2rem;
    cursor: pointer; 
}

.skills ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.skills li {
    display: inline-block;
    padding: .1rem .5rem;
    border-radius: .5rem;
    background-color: var(--accent-color);
    color: var(--black-color);
}

/* Projects start */

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.project-card {
    max-width: 100%;
    margin: auto;
    position: relative;
}

.project-start {
    grid-column: 1/-1;
}

.project-name {
    display: block;
    font-weight: normal;
    padding: .2rem 0;
    margin-left: .5rem;
    font-size: 1rem;
}

.project-links {
    position: absolute;
    top: 5px;
    right: 6px;
    font-size: 1rem;
}

.project-links a {
    color: var(--accent-color);
    opacity: .9;
    border-top: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    padding: 0.1rem .2rem;
}

.project-links a:hover {
    color: var(--white-color);
}

.project-stack {
    padding: 0;
    min-height: 4rem;
    text-align: center;
}

.project-stack li {
    display: inline-block;
    font-size: .8rem;
    color: var(--gray-color);
    border: 1px dashed var(--accent-color-transparent);
    border-radius: .5rem;
    padding: .08rem .4rem;
    margin-top: .5rem;
}

.project-card img {
    object-fit: contain;
    border-radius: .5rem;
    width: 100%;
    height: 210px;
    opacity: .8;
    border: 1px solid var(--accent-color);
    padding: .3rem;
}

.project-card img.scrollable {
    object-fit: cover;
    object-position: top;
    animation: scroll-image 6s linear infinite alternate;
    animation-delay: 1s;
}

.project-start img {
    height: 100%;
}

/* Projects end */

footer {
    margin-top: 2rem;
    text-align: center;
    font-size: .8rem;
    color: var(--gray-color);
}

footer .heart {
    color: var(--accent-color);
}

footer .copyright {
    font-size: 1.2rem;
    position: relative;
    top: 6px;
}

/* ---------- */

@media screen and (width < 899px) {
    .about-wrapper {
        flex-direction: column;
        margin-top: 1rem;
        gap: 1rem;
    }
}

@media screen and (width < 851px) {
    .about {
        text-align: center;
    }

    .connect {
        position: relative;
        margin-bottom: 2rem;
    }

    .location {
        justify-content: center;
    }
}

@media screen and (width < 790px) {
    .project-card img {
        height: 100%;
    }
}

@media screen and (width < 790px) {
    .project-card img {
        height: 100%;
    }
}

@media screen and (width < 455px) {
    .project-name {
        font-size: .79rem;
    }

    .project-links {
        top: 0px;
    }
}

@media screen and (width < 405px) {
    .project-name {
        font-size: .69rem;
    }

    .project-links {
        top: -3px;
    }
}

/* ----- Animations ----- */

@keyframes scroll-image {
    0% {
        object-position: top;
    }

    50% {
        object-position: center;
    }

    100% {
        object-position: bottom;
    }
}